div {
  display: flex;
  float: right;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 200px;
  box-sizing: border-box;
  border: 1px solid black;
}

span {
  display: flex;
  text-align: center;
}
